@import url('https://fonts.googleapis.com/css2?family=Moon+Dance&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
  overflow-x: hidden !important;
}

h1,h2,h3,p{
    font-family: 'Montserrat', sans-serif;
}

.hero{
    position: relative;
    color: white;
    display: flex;
    flex-direction: column;
    background-image: url(./img/Kitox.jpg);
    background-size: cover;
}

.hero-content{
 padding: 50px;
    width: 50%;
    text-align: center;
}

.hero-content h1{
    font-family: 'Moon Dance', cursive;
    color: #E7E5E5;
    font-size: 40px;
}

#img2{
    margin-top: -50px;
    margin-bottom: -50px;
}

.hero-content p:nth-child(3){
    color: #B14728;
    font-family: 'Montserrat', sans-serif;
    margin-top: 10px;
}

.hero-content p:nth-child(5){
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    line-height: 20px;
}

.hero-content p:nth-child(11){
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
}

.fa-star, .fa-star-half-stroke{
    color: #FF881F;
    padding: 30px 0px 10px 0px;
}

#hero-button{
    border: none;
    padding: 20px 0px 20px 0px;
    border-radius: 30px;
    margin-top: 30px;
    margin-bottom: 40px;
    width: 30%;
    text-align: center;
    color: #E7E5E5;
    font-size: 20px;
    background: rgb(176,255,139);
background: linear-gradient(90deg, rgba(176,255,139,1) 0%, rgba(14,98,0,1) 100%);
}

.how-keto-works{
    display: flex;
    position: relative;
    width: 100%;
    color: #fff;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.how-keto-works h1{
    margin-top: 50px;
}

.how-keto-works h3{
    margin-bottom: 35px;
}

.how-keto-works .img1{
    width: 100%;
    position: absolute;
    z-index: -999;
    height: 106%;
}

.img2{
width: 50%;
height: 100%;
position: relative;
z-index: -999;
margin-top: 50px;
}

.how-keto-works-contents{
display: flex;
    align-items: center;
    flex-direction: column;
    width: 40%;
    position: absolute;
    margin-top: 180px;
}

body > div.how-keto-works > div > p:nth-child(2){
    margin-bottom: 20px;
}

body > div.how-keto-works > div > h3:nth-child(4){
    margin-top: 40px;
}

.benefits-items{
    display: flex;
    margin-bottom: 15px;
}

.benefits-items i{
    margin-top: 3.5px;
    margin-right: 10px;
}

.instant-access{
    background-color:#121212;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    color: #E7E5E5;
}

.instant-access .firstsection{
    padding: 50px;
}

.firstsection-head{
text-align: center;
margin-bottom: 40px;
}

.firstsection-head h1{
    color: #FF3D00;
    }

.getplan{
display: flex;
background-color: #121212;
justify-content: center;
padding-bottom: 20px;
    }

.getplan-form{
    margin-top: 50px;
    background-color: #252424;
    width: 50%;
    border-radius: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 50px;
}

.form-content{
    padding: 50px;
    text-align: center;
}

.form-content h3{
    color:  #FF3D00;
    margin-bottom: 20px;
}

.form-content img{
    margin-top: 20px;
}

.form-content h1{
    color: #E7E5E5;
}

.form-entry{
    display: flex;
    flex-direction: column;
    color: #fff;
    width: 60%;
    margin-bottom: 50px;
    justify-content: center;
}

.form-entry p{
    margin-bottom: 20px;
}

.form-entry h3{
    text-align: center;
    margin-top: 20px;
}


.first-form-entry{
    display: flex;
    justify-content: space-between;
}

#third-form-entry{
    margin-top: 20px;
}

#form-button{
    border: none;
    padding: 20px 0px 20px 0px;
    border-radius: 30px;
    margin-top: -10px;
    margin-bottom: 40px;
    width: 30%;
    text-align: center;
    color: #E7E5E5;
    font-size: 20px;
    background: rgb(176,255,139);
background: linear-gradient(90deg, rgba(176,255,139,1) 0%, rgba(14,98,0,1) 100%);
}

#form-button:hover{
background-color: #252424;
border: 1px solid #E7E5E5;
color: #E7E5E5;
cursor: pointer;
}

.regularprice{
    background-color: none;
    border: none;
    font-size: 20px;
    width:65px;
    border-radius:20px;
    border: 1px solid white;
    color: white;
    padding-left: 20px;
    padding-right: 18px;
    margin-left: 10px;
}

input{
    background-color: #252424; 
    font-size: 20px;
}

input:focus {
    outline: none;
    font-size: 20px;
 }

.footer{
    background-color: #0e0e0e;
    display: flex;
   align-items: center;
    flex-direction: column;
    padding: 30px;
}

.footer-imgs{
    background-color: #0e0e0e;
    display: flex;
   align-items: center;
    flex-direction: column;
    padding: 10px;
    margin-bottom: 30px;
}

.footer-lists{
    display: flex;
    color: white;
    justify-content: space-between;
    padding-bottom: 100px;
    width: 35%;
}

.footer-list-item p{
    margin-bottom: 5px;
}
/*-----responsive------*/

@media screen and (max-width: 768px){

    .hero{
        position: relative;
        color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #hero-button{
        border: none;
    padding: 20px 0px 20px 0px;
    border-radius: 30px;
    margin-top: -10px;
    margin-bottom: 40px;
    width: 30%;
    text-align: center;
    color: #E7E5E5;
    font-size: 20px;
    background: rgb(176,255,139);
background: linear-gradient(90deg, rgba(176,255,139,1) 0%, rgba(14,98,0,1) 100%);
    }

.hero-content{
    padding: 0px;
       width: 70%;
       margin-top: 50px;
       text-align: center;
   }
   
   .hero-content h1{
       font-family: 'Moon Dance', cursive;
       color: #E7E5E5;
       /* font-size: 5vw; */
       text-align: center;
       font-size: 20px;
       margin-top: 10px;   
   }
   
   #img2{
       margin-top: -50px;
       margin-bottom: -50px;
       width: 100%;
   }
   
   .hero-content p:nth-child(3){
       color: #B14728;
       font-family: 'Montserrat', sans-serif;
       margin-top: 10px;
   }
   
   .hero-content p:nth-child(5){
       color: #fff;
       font-family: 'Montserrat', sans-serif;
       font-size: 14px;
       line-height: 20px;
       margin-top: 10px;
   }
   
   .hero-content p:nth-child(11){
       font-family: 'Montserrat', sans-serif;
       font-size: 12px;
       margin-top: 10px;
   }
   
   #hero-button{
    border: none;
    padding: 20px 0px 20px 0px;
    border-radius: 30px;
    margin-top: -10px;
    margin-bottom: 40px;
    width: 30%;
    text-align: center;
    color: #E7E5E5;
    font-size: 20px;
    background: rgb(176,255,139);
background: linear-gradient(90deg, rgba(176,255,139,1) 0%, rgba(14,98,0,1) 100%);
   }
   
.how-keto-works{
    display: flex;
    position: relative;
    width: 100%;
    color: #fff;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.how-keto-works h1{
    margin-top: 50px;
}

.how-keto-works h3{
    margin-bottom: 35px;
}

.how-keto-works .img1{
    width: 100%;
    position: absolute;
    z-index: -999;
    height: 120vh;
}

.how-keto-works .img2{
    width: 100%;
position: relative;
z-index: -999;
margin-top: 50px;
padding: 0px 20px 0px 20px;
height: 100vh;
}

.how-keto-works-contents{
display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    position: absolute;
    margin-top: 180px;
    padding: 0px 40px 0px 40px;
}

body > div.how-keto-works > div > p:nth-child(2){
    margin-bottom: 20px;
}

body > div.how-keto-works > div > h3:nth-child(4){
    margin-top: 40px;
}

.benefits-items{
    display: flex;
    margin-bottom: 15px;
}

.benefits-items i{
    margin-top: 3.5px;
    margin-right: 10px;
}

.secondsection img{
    width: 100%;
}

.getplan{
    display: flex;
    background-color: #121212;
    justify-content: center;
    padding-bottom: 20px;
        }
    
    .getplan-form{
        margin-top: 50px;
        background-color: #252424;
        width: 100%;
        border-radius: 20px;
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-bottom: 50px;
    }
    
    .form-content{
        padding: 50px;
        text-align: center;
    }
    
    .form-content h3{
        color:  #FF3D00;
        margin-bottom: 20px;
    }
    
    .form-content img{
        margin-top: 20px;
    }
    
    .form-content h1{
        color: #E7E5E5;
    }
    
    .form-entry{
        display: flex;
        flex-direction: column;
        color: #fff;
        width: 80%;
        margin-bottom: 50px;
        justify-content: center;
    }
    
    .form-entry p{
        margin-bottom: 20px;
    }
    
    .form-entry h3{
        text-align: center;
        margin-top: 20px;
        font-size: 15px
    }
    
    .first-form-entry{
        display: flex;
        justify-content: space-between;
    }
    
    #third-form-entry{
        margin-top: 20px;
    }

    #form-button{
        border: none;
        padding: 20px 0px 20px 0px;
        border-radius: 30px;
        margin-top: -10px;
        margin-bottom: 40px;
        width: 50%;
        text-align: center;
        color: #E7E5E5;
        font-size: 20px;
        background: rgb(176,255,139);
    background: linear-gradient(90deg, rgba(176,255,139,1) 0%, rgba(14,98,0,1) 100%);
    }
    #hero-button{
        border: none;
        padding: 20px 0px 20px 0px;
        border-radius: 30px;
        margin-top: 10px;
        width: 80%;
        text-align: center;
        color: #E7E5E5;
        font-size: 20px;
        background: rgb(176,255,139);
    background: linear-gradient(90deg, rgba(176,255,139,1) 0%, rgba(14,98,0,1) 100%);
    }

    .footer{
        background-color: #0e0e0e;
        display: flex;
      align-items: center;
        flex-direction: column;
        padding: 30px;
        margin-top: -20px;
    }
    
    .footer-lists{
        display: flex;
        color: white;
        justify-content: center;
        padding-bottom: 100px;
        width: 100%
    }
    
    .footer-list-item p{
        margin-bottom: 5px;
        margin-left: 15px;
    }
}