@import url('https://fonts.googleapis.com/css2?family=Moon+Dance&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.hero{
    position: relative;
    color: white;
    display: flex;
    flex-direction: column;
}

.hero-content{
 padding: 50px;
    width: 40%;
    text-align: center;
}

.hero-content h1{
    font-family: 'Moon Dance', cursive;
    color: #E7E5E5;
}

.hero-background{
    position: absolute;
    z-index: -999;
    width: 100%;
}
.hero-background img{
    width: 100%;
}

#img2{
    margin-top: -50px;
    margin-bottom: -50px;
}

#hero-button{
    width: 100px;
}

.hero-content p:nth-child(3){
    color: #B14728;
    font-family: 'Montserrat', sans-serif;
}

.hero-content p:nth-child(5){
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
}


